* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-image: url("wallpaper.jpeg");
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.imgContainer {
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.mew {
  width: 100px;
  margin-top: 75px;
}

.snorlax {
  width: 100px;
  margin-top: 75px;
}

.skitty {
  width: 200px;
  margin-top: none;
}

.gifs {
  content: "";
  clear: both;
}

.title {
  width: 125px;
  margin: auto;
}

.subtitle {
  width: 178px;
  margin: auto;
}

.form {
  width: 240px;
  margin: auto;
}

.input {
  width: 200px;
  margin: auto;
}

.input [type=text] {
  background-color: #FAA0A0;
}

.input [type=text]:focus {
  background-color: white;
}

.input [type=button] {
  background-color: #FAA0A0;
  border: 1px solid black;
  padding: 2px 5px;
}

.info {
  width: 300px;
  margin: auto;
}

#pokeinfo {
  padding: 5px 5px;
  border: 2px solid white;
  background-color: #FAA0A0;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  padding: 2px 5px;
  background-color: whitesmoke;
}

th {
  width: 150px;
  padding: 2px 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px 5px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
